<div class="row">
  <nav class="navbar navbar-expand-sm navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <i class="fa-solid fa-film"></i>&nbsp;&nbsp;YourMovies
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto me-5">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['home']">Home</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['form']">Form</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['customer']">Customers</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>

