<div class="row mt-3 mb-3">
  <h1 class="text-center"><i class="fa-solid fa-bolt text-warning"></i>&nbsp;&nbsp;Registration</h1>
</div>
<div class="row mb-5">
  <section class="h-100">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col">
          <div class="card card-registration my-4">
            <div class="row g-0">
              <div class="col-xl-6 d-none d-xl-block">
                <img src="assets/img/blockbuster.jpg" alt="BlockBuster" class=" img_form"/>
              </div>
              <div class="col-xl-6">
                <form [formGroup]="registration" (ngSubmit)="onRegistration()">
                  <div class="card-body p-md-5 text-black">
                    <h3 class="mb-5 text-uppercase">Registration</h3>
                    <div class="row">
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <label class="form-label" for="firstNameInput">First name*</label>
                          <input type="text" id="firstNameInput" class="form-control form-control-lg" formControlName="firstName" required ngModel/>
                          <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert">
                            <div *ngIf="firstName.errors?.['required']">
                              <p class="text-danger">First name is required.</p>
                            </div>
                            <div *ngIf="firstName.errors?.['minlength']">
                              <p class="text-danger">First name must be at least 3 characters long.</p>
                            </div>
                            <div *ngIf="firstName.errors?.['pattern']">
                              <p class="text-danger">First name invalid.</p>
                              <p class="text-info">Ex: Sánchez</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <label class="form-label" for="lastNameInput">Last name*</label>
                          <input type="text" id="lastNameInput" class="form-control form-control-lg" formControlName="lastName" required/>
                          <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert">
                            <div *ngIf="lastName.errors?.['required']">
                              <p class="text-danger">Last name is required.</p>
                            </div>
                            <div *ngIf="lastName.errors?.['minlength']">
                              <p class="text-danger">Last name must be at least 3 characters long.</p>
                            </div>
                            <div *ngIf="lastName.errors?.['pattern']">
                              <p class="text-danger">Last name invalid.</p>
                              <p class="text-info">Ex: Sánchez</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <label class="form-label" for="nameInput">Name*</label>
                          <input type="text" id="nameInput" class="form-control form-control-lg" formControlName="name" required/>
                          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
                            <div *ngIf="name.errors?.['required']">
                              <p class="text-danger">Name is required.</p>
                            </div>
                            <div *ngIf="name.errors?.['minlength']">
                              <p class="text-danger">Name must be at least 3 characters long.</p>
                            </div>
                            <div *ngIf="name.errors?.['pattern']">
                              <p class="text-danger">Name invalid.</p>
                              <p class="text-info">Ex: Julio</p>
                              <p class="text-info">Ex: Cesar Julio</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <label class="form-label" for="ageInput">Age*</label>
                          <input type="number" id="ageInput" class="form-control form-control-lg" formControlName="age" min="18" (keydown)="onKeyDown($event)" required/>
                          <div *ngIf="age.invalid && (age.dirty || age.touched)" class="alert">
                            <div *ngIf="age.errors?.['required']">
                              <p class="text-danger">Age is required.</p>
                            </div>
                            <div *ngIf="age.errors?.['pattern']">
                              <p class="text-danger">Age invalid (18-60).</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-outline mb-4">
                      <label class="form-label" for="addressInput">Address</label>
                      <input type="text" id="addressInput" class="form-control form-control-lg" formControlName="address"/>
                      <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert">
                        <div *ngIf="address.errors?.['minlength']">
                          <p class="text-danger">Address must be at least 5 characters long.</p>
                        </div>
                        <div *ngIf="address.errors?.['pattern']">
                          <p class="text-danger">Address invalid.</p>
                          <p class="text-info">Ex: Carrer Monlau</p>
                          <p class="text-info">Ex: Carrer Monlau, 25</p>
                        </div>
                      </div>
                    </div>
                    <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
                      <h6 class="mb-0 me-4">Gender: </h6>
                      <div class="form-check form-check-inline mb-0 me-4">
                        <input class="form-check-input" type="radio" formControlName="gender" id="femaleGender"
                               value="F" />
                        <label class="form-check-label" for="femaleGender">Female</label>
                      </div>
                      <div class="form-check form-check-inline mb-0 me-4">
                        <input class="form-check-input" type="radio" formControlName="gender" id="maleGender"
                               value="M" />
                        <label class="form-check-label" for="maleGender">Male</label>
                      </div>
                      <div class="form-check form-check-inline mb-0">
                        <input class="form-check-input" type="radio" formControlName="gender" id="otherGender"
                               value="O" />
                        <label class="form-check-label" for="otherGender">Other</label>
                      </div>
                    </div>
                    <div class="row mb-5">
                      <div class="col">
                        <select class="form-select" formControlName="countries" required>
                          <option value="" disabled selected>Country</option>
                          <ng-container *ngFor="let country of countriesList; index as i ">
                            <option value="{{country}}">{{country}}</option>
                          </ng-container>
                        </select>
                        <div *ngIf="countries.invalid && (countries.dirty || countries.touched)" class="alert">
                          <div *ngIf="countries.errors?.['required']">
                            <p class="text-danger">Select a country.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-outline mb-4">
                      <label class="form-label" for="birthDateInput">Birthdate*</label>
                      <input type="date" id="birthDateInput" class="form-control form-control-lg" formControlName="birthdate" name="birthdate" required/>
                      <div *ngIf="birthdate.invalid && (birthdate.dirty || birthdate.touched)" class="alert">
                        <div *ngIf="birthdate.errors?.['required']">
                          <p class="text-danger">Birthdate is required.</p>
                        </div>
                        <div *ngIf="validateBirthDate">
                          <p class="text-danger">Birthdate is not valid.</p>
                        </div>
                      </div>
                    </div>
                    <div class="form-outline mb-4">
                      <label class="form-label" for="nickNameInput">Nickname*</label>
                      <input type="text" id="nickNameInput" class="form-control form-control-lg" formControlName="username" required/>
                      <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert">
                        <div *ngIf="username.errors?.['required']">
                          <p class="text-danger">Nickname is required.</p>
                        </div>
                        <div *ngIf="username.errors?.['minlength']">
                          <p class="text-danger">Nickname must be at least 6 characters long.</p>
                        </div>
                        <div *ngIf="username.errors?.['pattern']">
                          <p class="text-danger">Nickname invalid.</p>
                        </div>
                      </div>
                    </div>

                    <div class="form-outline mb-4">
                      <label class="form-label" for="emailInput">Email*</label>
                      <input type="email" id="emailInput" class="form-control form-control-lg" formControlName="email" required/>
                      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">
                        <div *ngIf="email.errors?.['required']">
                          <p class="text-danger">Email is required.</p>
                        </div>
                        <div *ngIf="email.errors?.['pattern']">
                          <p class="text-danger">Email invalid.</p>
                        </div>
                      </div>
                    </div>
                    <div class="form-outline mb-4">
                      <label class="form-label" for="passwordInput">Password*</label>
                      <input type="password" id="passwordInput" class="form-control form-control-lg" formControlName="password" required/>
                      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert">
                        <div *ngIf="password.errors?.['required']">
                          <p class="text-danger">Password is required.</p>
                        </div>
                        <div *ngIf="password.errors?.['pattern']">
                          <p class="text-danger">Password minimum eight characters, at least one letter and one number.</p>
                        </div>
                      </div>
                    </div>
                    <div class="d-flex justify-content-end pt-3">
                      <button type="button" class="btn btn-secondary btn-lg" (click)="resetForm()">Reset all</button>
                      <button type="submit" [disabled]="!registration.valid" class="btn btn-primary btn-lg ms-2">Send</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
