body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 100% !important;
}
