<div class="row mt-4">
  <h1 class="text-center"><i class="fa-solid fa-users-line"></i>&nbsp;&nbsp;List of Users</h1>
</div>
<div class="search mt-3">
  <form class="d-flex formSearch" role="search">
    <input class="form-control" type="text" placeholder="Search user" aria-label="Search" id="searchInput"/>&nbsp;
    <button class="btn btn-outline-dark" type="button" (click)="filterList()">Search</button>
  </form>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-6 col-xl-4" *ngFor="let data of listCustomer;">
      <div class="card m-b-30" style="height: 500px">
        <div class="card-body row">
          <div class="col-6">
            <div [ngSwitch]="data.gender">
              <div *ngSwitchCase="'M'">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="avatar" class="img-fluid rounded-circle w-80">
              </div>
              <div *ngSwitchCase="'F'">
                <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="avatar" class="img-fluid rounded-circle w-80">
              </div>
              <div *ngSwitchCase="'O'">
                <img src="assets/img/lumpy.png" alt="avatar" class="img-fluid rounded-circle w-65">
              </div>
            </div>
          </div>
          <div class="col-6 card-title mb-0">
            <h5>{{data.firstName}}&nbsp;{{data.lastName}}<br>{{data.name}}</h5>
            <p class="m-0"><strong>Age:&nbsp;</strong>{{data.age}}</p>
            <p class="m-0"><strong>Birthdate: &nbsp;</strong>{{data.birthdate}}</p>
            <p class="m-0"><strong>Gender: &nbsp;</strong>{{data.gender}}</p>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa-solid fa-user float-right"></i>&nbsp;Username: {{data.username}}</li>
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>&nbsp;Email: {{data.email}}</li>
          <li class="list-group-item"><i class="fa-solid fa-address-book float-right"></i>&nbsp;Country: {{data.country}}</li>
          <li class="list-group-item"><i class="fa-solid fa-address-book float-right"></i>&nbsp;Address: {{data.address}}</li>
        </ul>
        <div class="card-footer">
          <div class="float-end btn-group btn-group-sm">
            <a href="#" class="btn btn-warning tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
            <a href="#" class="btn btn-danger tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
          </div>
          <ul class="social-links list-inline float-start mb-0">
            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- edit modal -->
<div class="modal fade" id="updateClientModal" tabindex="-1" role="dialog" aria-labelledby="clientEditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Employee</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
