<div class="row mt-4">
  <h1 class="text-center"><i class="fa-solid fa-users-line"></i>&nbsp;&nbsp;List of Users</h1>
</div>
<div class="search mt-3">
  <form class="d-flex formSearch" role="search">
    <input type="search" (ngModelChange)="filterList(key.value)" #key="ngModel" ngModel
           name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search client..." required>
  </form>
</div>
<div class="container mt-4" id="main-container">
  <div class="row">
    <div class="col-md-6 col-xl-5" *ngFor="let data of listCustomer;">
      <div class="card m-b-30" style="height: 500px; width: 450px">
        <div class="card-body row">
          <div class="col-6">
            <div [ngSwitch]="data.gender">
              <div *ngSwitchCase="'M'">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="avatar" class="img-fluid rounded-circle w-80">
              </div>
              <div *ngSwitchCase="'F'">
                <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="avatar" class="img-fluid rounded-circle w-80">
              </div>
              <div *ngSwitchCase="'O'">
                <img src="assets/img/lumpy.png" alt="avatar" class="img-fluid rounded-circle w-65">
              </div>
            </div>
          </div>
          <div class="col-6 card-title mb-0">
            <h5>{{data.firstName}}&nbsp;{{data.lastName}}<br>{{data.name}}</h5>
            <p class="m-0"><strong>Age:&nbsp;</strong>{{data.age}}</p>
            <p class="m-0"><strong>Birthdate: &nbsp;</strong>{{data.birthdate}}</p>
            <p class="m-0"><strong>Gender: &nbsp;</strong>{{data.gender}}</p>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa-solid fa-user float-right"></i>&nbsp;Username: {{data.username}}</li>
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>&nbsp;Email: {{data.email}}</li>
          <li class="list-group-item"><i class="fa-solid fa-address-book float-right"></i>&nbsp;Country: {{data.country}}</li>
          <li class="list-group-item"><i class="fa-solid fa-address-book float-right"></i>&nbsp;Address: {{data.address}}</li>
        </ul>
        <div class="card-footer">
          <div class="float-end btn-group btn-group-sm">
            <button class="btn btn-lg btn btn-warning" (click)="open(modifyModal,'edit', data)"><i class="fa fa-pencil"></i></button>
            <button class="btn btn-lg btn btn-danger" (click)="open(deleteModal,'delete', data)"><i class="fa fa-times"></i></button>
          </div>
          <ul class="social-links list-inline float-start mb-0">
            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- edit modal -->
<ng-template #modifyModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit User</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true"><i class="fa-solid fa-xmark"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <form #editForm="ngForm">
      <div class="form-outline mb-4">
        <label for="name">Name</label>
        <input type="text" ngModel="{{modifyClient?.name}}" name="name" class="form-control" id="name" required>
      </div>
      <div class="form-outline mb-4">
        <label for="lastName">First name</label>
        <input type="text" ngModel="{{modifyClient?.firstName}}" name="firstName" class="form-control" id="firstname" required>
      </div>
      <div class="form-outline mb-4">
        <label for="lastName">First name</label>
        <input type="text" ngModel="{{modifyClient?.lastName}}" name="lastName" class="form-control" id="lastName" required>
      </div>
      <div class="form-outline mb-4">
        <label for="lastName">Address</label>
        <input type="text" ngModel="{{modifyClient?.address}}" name="address" class="form-control" id="address" required>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button  type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">Cancel</button>
    <button (click)="onUpdateClient(editForm.value,modifyClient.username); modal.close('Save click')" type="button" class="btn btn-primary">Save changes</button>
  </div>
</ng-template>

<!-- delete modal -->
<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title2">Delete User</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true"><i class="fa-solid fa-xmark"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete this user?</p>
  </div>
  <div class="modal-footer">
    <button  type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">Cancel</button>
    <button (click)="deleteClient(deleClient.username); modal.close('Save click')" type="button" class="btn btn-danger">Delete</button>
  </div>
</ng-template>

<!-- Notification for no Clients -->
<div *ngIf="listCustomer?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-dark" role="alert">
    <h4 class="alert-heading">NO USERS!</h4>
    <p>No Users were found.</p>
  </div>
</div>
