<div class="row mt-5">
  <h1 class="text-center"><i class="fa-solid fa-hippo"></i>&nbsp;New movies</h1>
</div>

<div class="row justify-content-center mt-4 mb-5">
  <div id="carouselExampleDark" class="carousel carousel-dark slide col-sm-8" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="assets/img/home/carrusel/movie01.jpg" class="rounded mx-auto d-block" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1 class="h1_title_carousel">UNCHARTED</h1>
          <p class="text-justify p_description_carousel">Uncharted is a 2022 American action-adventure film directed by
            Ruben Fleischer from a screenplay by Rafe Lee Judkins, Art Marcum,
            and Matt Holloway, based on the video game franchise of the same name developed by
            Naughty Dog and published by Sony Interactive Entertainment. It stars Tom Holland as Nathan
            Drake and Mark Wahlberg as Victor Sullivan, with Sophia Ali, Tati Gabrielle,
            and Antonio Banderas in supporting roles. In the film, Drake is recruited by
            Sullivan in a race against corrupt billionaire Santiago Moncada (Banderas)
            and mercenary leader Jo Braddock (Gabrielle) to locate the fabled treasure of the Magellan expedition.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="assets/img/home/carrusel/movie02.png" class="rounded mx-auto d-block" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1 class="h1_title_carousel">AVATAR 2: THE WAY OF WATER</h1>
          <p class="text-justify p_description_carousel">Avatar: The Way of Water is a 2022 American epic science fiction film directed and produced
            by James Cameron. He co-wrote the screenplay with Rick Jaffa and Amanda Silver from
            a story the trio wrote with Josh Friedman and Shane Salerno. Distributed by 20th Century Studios,
            it is the sequel to Avatar (2009) and the second installment in the Avatar film series. </p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/img/home/carrusel/movie03.png" class="rounded mx-auto d-block" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1 class="h1_title_carousel">THE LOST CITY</h1>
          <p class="text-justify p_description_carousel">The Lost City is a 2022 American action-adventure comedy film directed
            by the Nee brothers, who co-wrote the screenplay with Oren
            Uziel and Dana Fox, from a story conceived by Seth Gordon.<br>
            It stars Sandra Bullock and Channing Tatum as a romance
            novelist and her cover model respectively who must escape a billionaire
            (Daniel Radcliffe) who wants her to find a lost ancient burial chamber described in one of her books. The film co-stars Da'Vine Joy Randolph and Brad Pitt.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div class="row mt-5 mb-3">
  <h1 class="text-center"><i class="fa-solid fa-hippo"></i>&nbsp;All movies</h1>
</div>
<div class="container d-flex align-items-center justify-content-center flex-wrap">
  <ng-container *ngFor="let card of cards">
  <div class="box">
    <div class="body">

      <div class="imgContainer">
        <img src="{{card.img}}" class="card-img-top" alt="...">
      </div>
      <div class="content d-flex flex-column align-items-center justify-content-center">
        <div>
          <p class="text-white fs-3">{{card.title}}</p>
          <p class="fs-6 text-white">{{card.description}}</p>
          <p class="text-warning h2">{{card.buttonText}}</p>
        </div>
      </div>

    </div>
  </div>
  </ng-container>
</div>

